<% if @general_bookable %>  
  <div class="my-4 font-bold text-green-700">
    Iscrizioni aperte dal <%= l @what.booking_start %> al <%= l @what.booking_end %> <br/>
    <%= @what.bookable_by_description.upcase %>
  </div>
  <% if (!@what.external_booking?) && @free_seats < 1 %>
    <div class="text-lg text-red-500 font-bold my-4">  
      <span class="fa-stack">
        <i class="fas fa-chair fa-stack-1x"></i>
        <i class="fas fa-ban fa-stack-2x" style="color: tomato"></i>
      </span>
      Posti esauriti.
    </div>
  <% end %>

  <% unless (@current_user || @what.external_booking?) %>  
    <div class="italic">
      Per iscriversi occorre essere loggati. <%= link_to 'Accedi', login_path(for: @what.id), class: 'underline' %>.
    </div>
  <% end %>
<% end %>


