<div class="bg-gray-50 ml-4 p-4">
  <strong>
    Elenco degli studenti che hai iscritto a <%= @what %>:  
  </strong>

  <ol class="list-decimal p-4">
    <% @bookings.each do |booking| %>  
      <li class="pl-2">
        <%= booking.user %> <small>(<%= booking.user.email %>)</small>
      </li>
    <% end %>
  </ol>
</div>
