<% activity_id = 0 %>  
<ol class="list-decimal p-4">
  <% @bookings.each do |b| %>
    <% if activity_id != (activity_id = b.activity_id)  %>  
      <p class="italic">
      Hai iscritto a <span class="font-bold">"<%= b.activity %>"</span> gli studenti:
      </p>
    <% end %>
    <li><%= b.user %> <%= b.user.email %></li>
  <% end %>
</ol>
