@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';

// @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700&display=swap');
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  // font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 18px;
  }
}

@import "trix/dist/trix";
@import 'stylesheets/pls';
@import 'stylesheets/forms';
@import 'stylesheets/home_title';
