<div class="container">
  <% if @bookable_now %>  
    <h1 class="title">Le attività prenotabili</h1>
  <% else %>
    <h1 class="title">Le attività del PLS</h1>
  <% end %>

  <%= render Edition::ListComponent.new(@editions, current_user) %>
</div>
