<%= render TitleComponent.new(@edition, editable: policy(@edition).edit?) %>

<div class="container">
  <%# <%= TO REFACTOR. USED IN PAGES OF PARTICULAR EDITIONS 'app/vies/pages' %1> %>  
  <%= render 'editions/edition' %>  
</div>
