<div class="container">
  <%= render Edition::TitleComponent.new(@edition) %>  
  <%# <%= TO REFACTOR. USED IN PAGES OF PARTICULAR EDITIONS 'app/vies/pages' %1> %>  
  <%= render 'editions/edition' %>  
</div>
