<div class="m-auto p-2 max-w-6xl">
  <h1 class="title">
    <%= @edition %>
    <%= link_to_edit_if_editable @edition %>
  </h1>

  <h2>Eventi</h2>

  <% @events.each do |event| %>  
    <%= render 'events/event_item', event: event%>  
  <% end %>
</div>
