<div class="pls-card my-8">
  <div class="pls-card-title">
    ALTRE INFORMAZIONI
  </div>
  <div class="pls-card-content">
    <% @what.snippets.each do |snippet| %>  
      <div class="py-1 hover:bg-gray-100">
        <i class="fas fa-chevron-right mr-2"></i> 
        <%= snippet.name %> 
        <span class="float-right">
          <%= link_to edit_icon, [:edit, snippet] %>
          <%= link_to_delete "", snippet_path(snippet) %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="pls-card-footer">
    <%= link_to 'Nuovo blocco di informazioni', [:new, @what, :snippet], class: 'button my-2' %>  
  </div>
</div>

