<div class="container">
  <h1 class="title">Raggruppamenti</h1>

  <div class="my-8">
    <% @clusters.each do |ac| %>  
      <div class="text-lg my-2">
        <%= link_to ac.to_s, ac %> 
        <%= link_to_edit_if_editable ac %>
        <%= link_to_delete cluster_path(ac) %>
      </div>
    <% end %>
  </div>

  <div>
    <%= link_to 'Nuovo raggruppamento di attività' , new_cluster_path, class: 'button' %>  
  </div>
</div>
