<div class="container">
  <h1 class="title">Nuovo raggruppamento di attività</h1>

  <%= simple_form_for @cluster, html: {class: "max-w-3xl mx-auto"} do |f| %>  
    <%= f.input :name %>  
    <%= f.input :academic_year, collection: (2016..(CURRENT_ACADEMIC_YEAR + 1)).to_a.reverse, include_blank: false %>
    <%= f.submit %>  
  <% end %>
</div>
