<div>
  <div>
    <h1 id="eden-park-title">
      EDEN <br/>
      <%= image_pack_tag "logo-eden.png", alt: "eden-park-logo" %> <br/>
      PARK 
    </h1>
    <h2 id="eden-park-subtitle">
      PIPPO 123
    </h2>
  </div>
  <pre style="right">
      <i class="far fa-calendar"></i>
      Dal Lunedì alla Domenica <br/>
      dalle 15:00 alle 21:00 <br/>
      Venerdì – Chiusura <br/>
  </pre>
  <pre style="right">
      <a href="https://goo.gl/maps/jTgDRoustNrThV3y8" target="_new">
      <i class="fas fa-map-marker-alt"></i>
        Via Commenda 13<br/>
        40068 San Lazzaro (BO)
      </a>
  </pre>
  <Social facebook="https://www.facebook.com/EdenParkZone" instagram="https://www.instagram.com/edenparkzone" />
  <div style="textAlign: 'center', margin: '20px 10px', fontSize: '120%'">
    <a href='/day'>
      <Button fluid>GUARDA LE ATTIVITÀ DI OGGI</Button>
    </a>
  </div>
</div>
