<turbo-frame id="modal">
  <%= tag.div data: { controller: "turbo-modal", action: @actions } do %>
    <div id="main_modal" class="z-10 fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
      <div id="modal_content" class="modal-content position-relative" data-turbo-modal-target="modalContent">
        <div class="mx-auto bg-white border-4 border-pls w-10/12 md:w-1/2 mt-32 relative">
          <div class="absolute -top-4 -right-4 p-2 border-4 border-pls rounded-xl text-weight-bold text-2xl cursor-pointer bg-white">
            <%= button_tag "Chiudi", data: { action: "turbo-modal#hideModal" }, class: 'btn btn-success btn-sm' %>
          </div>
          <div class="m-4">
            <% unless @title.blank? %>  
              <div class="modal-header">
                <h2><%= @title %></h2>
              </div>
            <% end %>
            <div class="main-modal-body">
              <%= content %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</turbo-frame>

