<div class="pls-card">
  <label class="pls-card-title">
    RISORSE  
  </label>
  <div class="pls-card-content">
    <% @resource_containers.each do |resource_container| %>  
      <div>
        <%= link_to resource_container, [:edit, resource_container] %>
      </div>
    <% end %>
  </div>
</div>

<div class="info my-2">
  Per associare un contenitore di risorse a questa attività scegliete il 
  contenitore da <%= link_to 'questa lista', resource_containers_path, class: 'underline' %> e modificatelo.
</div>

