<div>
  <% if @resource_item.video? %>  
    <div class="embed-responsive embed-responsive-16by9 my-3" style="width: 800px">
      <iframe class="embed-responsive-item" src="<%= @resource_item.embed_url %>" frameborder="0"></iframe>
    </div>
  <% end %>
  <%= link_to @resource_item, [:edit, @resource_item] %>  
</div>
