<div class="pls-card">
  <div class="pls-card-title">
    RISORSE
  </div>
  <div class="pls-card-content">
    <% @resources.each do |resource| %>  
      <%= render resource, what: @what %>  
    <% end %>
  </div>
  <%= link_to 'aggiungi risorsa', [:choose_resource, @what], class: 'button' %>  
  <%= link_to 'crea nuova risorsa', [:new, @what, :resource], class: 'button' %>  
</div>
