<div class="pls-card">
  <div class="pls-card-title">
    Risorse
  </div>
  <div class="my-4">
    <% @resources.each do |resource| %>  
      <div>
        <% if resource.video? %>  
          <div class="embed-responsive embed-responsive-16by9 my-3" style="width: 800px">
            <iframe class="embed-responsive-item" src="<%= resource.embed_url %>" frameborder="0"></iframe>
          </div>
        <% end %>
        <%= link_to resource, [:edit, resource] %>  
      </div>
    <% end %>
  </div>
  <%= link_to 'aggiungi risorsa', [:choose_resource, @what], class: 'button' %>  
</div>
