<div class="pls-card">
  <label class="pls-card-title">
    RISORSE  
  </label>
  <div class="pls-card-content">
    <% @resources.each do |resource| %>  
      <div>
        <%= link_to resource, [:edit, resource] %>
      </div>
    <% end %>
  </div>
  <div class="p-2">
    <%= link_to 'Associa risorsa esistente', [:choose_resource, @what], class: 'button my-2' %>
    <%= link_to 'Nuovo allegato', url, class: 'button my-2' %>
  </div>
</div>

