<div class="relative border-2 border-gray-300 m-4">
  <label class="absolute -top-2 -left-2 p-2 bg-white border-2 border-gray-300 text-sm">
    RISORSE  
  </label>
  <div class="my-2 p-2 pt-8">
    <% @resources.each do |resource| %>  
      <div>
        <%= resource %>
      </div>
    <% end %>
  </div>
</div>

