<%= simple_form_for [@edition, @snippet], html: {class: "max-w-3xl mx-auto"} do |f| %>  
  <%= f.input :name %>  

  <div class="details-trix-editor">
    <label>
      Descrizione più dettagliata con la possibilità di formattare il testo (opzionale)
    </label>
    <%= f.rich_text_area :description %>
  </div>

  <%= f.submit %>  
<% end %>
