<div class="pls-card">
  <div class="pls-card-title">EDIZIONI</div>
  <div class="pls-card-content">
    <% @editions.each do |edition| %> 
      <div class="py-1 hover:bg-gray-100">
        <%= link_to [:edit, edition] do %> 
          <i class="fas fa-chevron-right mr-2"></i> 
          <%= edition %> 
          <span class="text-sm text-gray-700 px-2">
            <%= edition.academic_year_to_s %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="pls-card-footer">
    <%= link_to 'Nuova edizione', [:new, @what, :edition], class: 'button' %>  
  </div>
</div>
