<div class="pls-card mb-8">
  <div class="pls-card-title">EVENTI</div>
  <div class="pls-card-content">
    <% @events.order("start_date desc").each do |event| %>  
      <div class="py-1 hover:bg-gray-100">
        <%= link_to [:edit, event] do %> 
          <i class="fas fa-chevron-right mr-2"></i> 
          <%= event.name %> 
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="pls-card-footer">
    <%= link_to 'Nuovo evento', [:new, @what, :event], class: 'button' %>  
  </div>
</div>
