<div>
  <div class="inline font-bold">
    <%= @label %>
  </div>
  <% @areas.each do |area| %>  
    <div class="inline-block cursor-pointer my-2">
      <%= link_to area.name, helpers.area_root(area), class: 'badge' %>  
    </div>
  <% end %>
</div>
