<div class="alert alert-danger">
  <h1>Il servizio non è accessibile con le sue credenziali</h1>

  <p>
  L'autenticazione è andata a buon fine <strong>(le credenziali istituzionali inserite sono corrette)</strong><br/> ma non si dispone di sufficienti diritti per accedere all'applicazione.<br/>
  </p>
  <p>
  Contattare <a href="mailto:dipmat-supportoweb@unibo.it">dipmat-supportoweb@unibo.it</a> o telefonare al numero 051-2094421 per richiedere l'abilitazione.
  </p>
</div>

