<h1 class="title">Contenitori di Risorse</h1>

<% @resource_containers.each do |resource_container| %>  
  <div class="border-2 p-2 px-4 m-2">
    <%= link_to resource_container.name, [:edit, resource_container] %> 
    <% resource_container.resources.each do |item| %>  
      <div class="ml-4 text-gray-600">
        <%= resource_item_icon(item) %>  
        <%= link_to item.name, [:edit, item] %>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to 'Aggiungi risorsa', new_resource_path, class: 'button' %>
