<div class="container mx-auto">
  <h1 class="title">Risorse</h1>

  <% if policy(:resource_container).new? %>
    <div class="text-center my-4">
      <%= link_to('Aggiungi contenitore di risorse', new_resource_container_path, class: 'button') %>
    </div>
  <% end %>

  <div>
    <% @resource_containers.each do |resource_container| %>  
      <div class="max-w-2xl my-2 mx-auto">
        <%= render ResourceContainer::CardComponent.new(resource_container, current_user, compressed: true) %>  
      </div>
    <% end %>
  </div>
</div>
