<div class="container">
  <h1 class="title">Risorse</h1>

  <div class="text-center my-4">
    <%= link_to('Aggiungi risorsa', new_resource_container_path, class: 'button') if policy(:resource_container).new? %>
  </div>

  <div class="flex flex-wrap flex-col md:flex-row">
    <% @resource_containers.each do |resource_container| %>  
      <div class="md:w-1/3 lg:w-1/4">
        <div class="m-2 h-full border-2 border-yellow-300">
          <div class="text-center">
            <%= resource_container.name %>
            <%= link_to_edit_if_editable resource_container %> 
          </div>
          <% resource_container.resources.each do |resource| %>  
            <div>
              <%= render resource %>  
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
