<div class="m-auto max-w-2xl px-2">
  <h1 class="title">Iscrizione</h1>

  <p class="my-8">Puoi registrarti a</p>

  <%= render @activity %>  

  <div class="my-8">
    <%= link_to 'ISCRIVITI', [@activity, :bookings], method: :post, class: 'button' %>  
  </div>
</div>
