<div class="container">
  <h1 class="title">
    Registrazione effettuata correttamente.
  </h1>

  <p>
  Ti sei registrato a "<%= @booking.activity %>".
  </p>
  <p>
  Le comunicazioni su questo evento verranno inviate a <%= @booking.email %>.
  </p>
</div>


