<div class="container">
  <h1 class="title">Richiesta di cancellazione del proprio account</h1>

  <div class="max-w-2xl mx-auto">
    <p class="my-2">
    Gentile <%= @user %>,
    </p>

    <p>
    da questa pagina è possibile cancellare il proprio account PLS.
    </p>

    <p>
    Questo comporta l'<strong>emininazione</strong> dai nostri database dei 
    dati relativi al suo nome, cognome, indirizzo email e partecipazione alle attività del PLS di Unibo.
    </p>
  </div>

  <div class="text-center my-8">
    <%= form_with url: forget_users_path do |f| %>  
      <%= f.submit "ELIMINA IL MIO ACCOUNT PLS" %>  
    <% end %>
  </div>
</div>
