<header class="header">
  <nav role="navigation" class="navbar">
    <div role="button" tabindex="0" id="modal-opener" data-menu-target="button" data-action="click->menu#toggle_menu" class="ps-2 xl:ps-4">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <div class="header-title text-pls-strong">
      <%= link_to 'PLS UNIBO', root_path %>
    </div>
    <div class="header-user text-base pe-2 xl:pe-4">
      <% if @current_user %>  
        <%= link_to @current_user.initials, me_users_path, class: "rounded-full border-2 border-pls text-pls font-bold py-1 px-2" %>
      <% else %>
        <%= link_to '<i class="fas fa-sign-in-alt pr-1"></i> accedi'.html_safe, login_path, class: 'underline text-pls' %>
      <% end %>
    </div>
  </nav>
</header>
