<div class="container">
  <h1 class="title">Scegli la risorsa da allegare</h1>
  <h2 class="title">a <%= @what %></h2>

  <%= render Resourceable::TabComponent.new(@t, what: @what) %>

  <ul>
    <% @resources.each do |resource| %>
      <% rclass = "border-b-2 border-gray-100 my-2" %>
      <li>
        <%= button_to [:add_resource, @what, {resource_id: resource.id}], form: {class: rclass} do %>
          <%= render Resource::ResourceComponent.new(resource, current_user, size: :small) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
