@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body {
  // font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  body {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  body {
    font-size: 18px;
  }
}

.button {
  @apply bg-blue-400 hover:bg-blue-600 text-white font-bold py-1 px-4 rounded;
}

.alert {
  @apply bg-red-100 border-l-4 border-red-500 text-black p-4;
}

.info {
  @apply bg-blue-100 border-l-4 border-blue-500 text-black p-4;
}

.success {
  @apply bg-green-100 border-l-4 border-green-500 text-black p-4;
}

.title {
  @apply mb-8 text-2xl sm:text-4xl lg:text-4xl text-center leading-none font-light text-gray-600;
}

@import 'forms';







