<div id="areas" class="md:flex md:flex-wrap px-8 md:px-24">
  <% areas.each do |area| %>  
    <div class="md:w-1/2 lg:w-1/3 xl:w-1/4 px-4 my-8">
      <%= link_to area_root(area) do %>  
        <%= render Area::HomeCardComponent.new(area) %>  
      <% end %>
    </div>
  <% end %>
</div>


