<div id="areas" class="md:flex md:flex-wrap px-8 md:px-16">
  <% areas.each do |area| %>  
    <% if (! current_user) && [2,3,5,7,9].include?(area.id) %>  
      <% url = ACCROCCHIO_VECCHIO_SITO[area.id] %>  
    <% else %>
      <% url = area_root(area) %>  
    <% end %>

    <div class="md:w-1/2 lg:w-1/3 xl:w-1/4 px-3">
      <%= link_to url do %>  
        <%= render Area::HomeCardComponent.new(area) %>  
      <% end %>
    </div>
  <% end %>
</div>


