<div class="container flex md:mt-16">
  <% [527, 525].each do |i| %>
    <div class="w-1/2 px-4">
      <% e = Edition.find(i) %>
      <%= render Activity::CardComponent.new(e) %>
    </div>
  <% end %>
</div>


