<div id="home-buttons" class="container md:mt-32">
  <div class="px-2 text-center">
    <div class="flex flex-col items-center justify-center">
      <%= link_to projects_path(on: 1), class: "big-home-button w-64" do %>
        <div class="big-home-button-icon"><i class="fa-regular fa-calendar fa-2xl"></i></div>
        <div>ATTIVITÀ DEL 2021/2022</div>
      <% end %>
      <%= link_to projects_path(bookable: 1), class: "big-home-button w-64" do %>
        <div class="big-home-button-icon"><i class="far fa-folder-open fa-2xl"></i></div>
        <div>ISCRIZIONI APERTE</div>
      <% end %>
      <%= link_to projects_path, class: "big-home-button w-64" do %>
        <div class="big-home-button-icon"><i class="fas fa-chalkboard fa-2xl"></i></div>
        <div>MOSTRA TUTTE LE ATTIVITÀ</div>
      <% end %>
    </div>
  </div>
</div>
