<div id="home-buttons" class="container min-h-screen">
  <div class="px-8 text-center">

    <h2 class="font-bold text-pls mb-6 mt-16">Le attività</h2>
    <div class="sm:grid sm:grid-cols-3 sm:gap-16 place-content-stretch">
      <%= link_to projects_path(on: 1) do %>
        <div class="big-home-button my-2">
          <div><i class="fas fa-play text-6xl mb-8"></i></div>
          <div>Attività in corso</div>
        </div>
      <% end %>
      <%= link_to projects_path(bookable: 1) do %>
        <div class="big-home-button my-2">
          <div><i class="far fa-folder-open text-6xl mb-8"></i></div>
          <div>Iscrizioni aperte</div>
        </div>
      <% end %>
      <%= link_to projects_path do %>
        <div class="big-home-button my-2">
          <div><i class="fas fa-chalkboard text-6xl mb-8"></i></div>
          <div>Tutte le attività</div>
        </div>
      <% end %>
    </div>

    <h2 class="font-bold text-pls mb-6 mt-16">Le risorse</h2>
    <%= link_to resource_containers_path do %>
      <div class="big-home-button my-2">
        <div><i class="far fa-file-image text-6xl mb-8"></i></div>
        <div>Le risorse disponibili</div>
      </div>
    <% end %>
  </div>
</div>
