<div class="container mt-32">
  <div class="px-8 text-center">
    <h2 class="font-bold text-pls mb-6">LE PROSSIME ATTIVITÀ</h2>
  </div>

  <% @next_editions.each do |edition| %>  
    <%= link_to edition do %>  
      <div class="text-lg md:text-xl py-4 text-gray-900 hover:bg-pls-light rounded-xl px-2 ">
        <i class="fas fa-chevron-right text-base mr-2"></i> 
        <%= edition.to_s.upcase %> 
        <% if start_date = edition.first_event_date %>  
          <small>da <%= l start_date, format: :day %></small>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

