<div class="container">
  <h2 class="title">Cosa è il PLS?</h2>

  <div class="md:w-3/4 text-pls-strong text-xl">
    <p>Il Piano Lauree Scientifiche, già Progetto Lauree Scientifiche, istituito a partire dal 2004 su iniziativa del MIUR, rappresenta una iniziativa volta a favorire l’acquisizione di competenze scientifiche meglio rispondenti alle sfide della società contemporanea e a rafforzare l’impatto della formazione sulla società.</p>
    <p class="my-2"><%= link_to 'Vai alla presentazione del PLS', presentation_path, class: 'underline' %></p>
  </div>

  <h2 class="title mt-16 md:mt-24">Come partecipare alle attività del PLS?</h2>

  <div class="md:w-3/4 text-pls-strong text-xl">
    <p>Le attività del PLS sono rivolte principalmente a docenti e studenti di scuola secondaria superiore.</p>
    <p>Le modalità di partecipazione variano per le diverse attività; ma, ad eccezione degli eventi di presentazione e divulgazione, l'iscrizione richiesta è obbligatoria. Le modalità di iscrizione sono riportate in dettaglio nelle pagine di ogni attività.</p>
  </div>
</div>

