<div class="flex flex-col lg:flex-row">
  <h1 class="lg:w-1/2 home-title h-2/3 text-left p-8 lg:p-32 text-3xl sm:text-5xl lg:text-6xl leading-none font-bold text-pls tracking-tight leading-10">
    <div class="">                            <span class="text-4xl lg:text-8xl px-4 p-2 bg-pls text-white">P</span>IANO</div>
    <div class="my-6 lg:my-10 ml-10 lg:ml-20"><span class="text-4xl lg:text-8xl px-4 p-2 bg-pls-light text-white">L</span>AUREE</div>
    <div class="my-6 lg:my-10 ml-20 lg:ml-40"><span class="text-4xl lg:text-8xl px-4 p-2 bg-pls-strong text-white">S</span>CIENTIFICHE</div>
  </h1>
  <div class="lg:w-1/2 flex flex-col text-xl justify-center items-center">
    <div id="home-box-areas" class="home-box bg-pls">
      <div>8 Aree</div>
      <div class="text-sm ml-16"><%= link_to '->  mostra', '#areas' %></div>
    </div>
    <div id="home-box-projects" class="home-box bg-pls-light">
      <div>120 progetti</div>
      <div class="text-sm ml-16"><%= link_to '->  mostra', projects_path %></div>
    </div>
    <div id="home-box-students" class="home-box bg-pls-strong">
      <div>120 studenti</div>
      <div class="text-sm ml-16"><%= link_to '->  mostra', projects_path %></div>
    </div>
  </div>
</div>


