<div class="flex flex-col lg:flex-row">
  <h1 class="text-pls lg:w-1/2 home-title h-2/3 text-right p-8 lg:p-32 text-3xl sm:text-5xl lg:text-8xl leading-none font-bold tracking-tight leading-10">
    <span class="">PIANO</span>
    <span class="">LAUREE</span>
    <span class="">SCIENTIFICHE</span>
  </h1>
  <div class="lg:w-1/2 flex flex-col text-xl justify-center items-center">
    <div id="home-box-areas" class="home-box bg-pls">
      <%= link_to "#areas" do %>  
        <div><strong>8</strong> aree</div>
      <% end %>
    </div>
    <div id="home-box-projects" class="home-box bg-pls-light">
      <%= link_to projects_path do %>
        <div>oltre <strong><%= Activity.approximate_count %></strong> iniziative</div>
      <% end %>
    </div>
    <div id="home-box-students" class="home-box bg-pls-strong">
      <div>oltre <strong>120</strong> scuole coinvolte</div>
    </div>
  </div>
</div>


