<div id="home-first">
  <div id="home-first-left">
    <h1 id="home-first-title" class="text-home-title text-4xl sm:text-5xl xl:text-6xl 2xl:text-8xl">
      PIANO<br/>LAUREE<br/>SCIENTIFICHE<br/>
      <span class="block py-2 text-xl sm:text-2xl xl:text-2xl 2xl:text-4xl">Università di Bologna</span>
    </h1>
  </div>

  <div id="home-first-right">
    &nbsp;
    <div id="home-box-first" class="home-box text-gray-100 bg-pls-flash">
      <div>dal <span class="home-box-number">2010</span></div>
    </div>
    <div id="home-box-second" class="home-box text-gray-100 bg-pls-light2">
      <%= link_to "#areas" do %>  
        <div><span class="home-box-number">8</span> aree</div>
      <% end %>
    </div>
    <div id="home-box-third" class="home-box text-gray-100 bg-pls-light">
      <%= link_to "#home-buttons" do %>
        <div>oltre <span class="home-box-number"><%= Activity.approximate_count %></span> iniziative</div>
      <% end %>
    </div>
  </div>
</div>


