<div class="flex flex-col lg:flex-row">
  <h1 class="text-pls lg:w-1/2 home-title h-2/3 text-right p-8 lg:p-32 text-3xl sm:text-5xl lg:text-8xl leading-none font-bold tracking-tight leading-10">
    <span class="">PIANO</span>
    <span class="">LAUREE</span>
    <span class="">SCIENTIFICHE</span>
  </h1>
  <div class="lg:w-1/2 flex flex-col text-xl justify-center items-center">
    <div id="home-box-areas" class="home-box bg-pls">
      <div>8 aree</div>
    </div>
    <div id="home-box-projects" class="home-box bg-pls-light">
      <div>oltre <%= Activity.count %> iniziative</div>
    </div>
    <div id="home-box-students" class="home-box bg-pls-strong">
      <div>oltre 120 scuole coinvolte</div>
    </div>
  </div>
</div>


