<div class="px-4 lg:px-16">
  <h1 class="title">Contatti</h1>

  <div class="flex flex-wrap">
    <div class="w-1/3 font-bold text-right px-4 mb-8">
      Coordinatore Unibo
    </div>
    <div class="w-2/3 mb-8">
      <%= mail_to 'mirella.manaresi@unibo.it', 'Mirella Manaresi' %>
    </div>

    <% Area.order(:name).includes(:head).each do |area| %>  
      <div class="w-1/3 font-bold text-right px-4 mb-2">
        <%= area %> 
      </div>
      <div class="w-2/3 mb-2">
        <div><span class="text-gray-700">Coordinatore:</span> <%= area.head %></div>
        <div>
          <span class="text-gray-700">Contatti:</span> 
          <% area.contacts.order(:surname, :name).each do |contact| %>
            <span class="mx-1"><%= mail_to contact.email, contact.cn, class: 'underline' %> </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
