<div class="px-4 lg:px-16 leading-8">
  <h1 class="title">Contatti</h1>

  <div class="flex flex-wrap">
    <div class="w-1/2 font-bold text-right px-4 mb-8">
      <h2 class="text-xl">Coordinatore Unibo</h2>
    </div>
    <div class="w-1/2 mb-8 text-xl">
      <%= mail_to 'mirella.manaresi@unibo.it', 'Mirella Manaresi' %>
    </div>

    <% Area.order(:name).includes(:head, :contacts).each do |area| %>  
      <div class="w-1/2 font-bold text-right px-4">
        <%= area %> 
      </div>
      <div class="w-1/2">
        <span class="text-gray-700">Referente:</span> <%= area.head %>  <br/>
        <span class="text-gray-700">Contatti:</span> 
        <% area.contacts.order(:name).each do |contact| %>
          <span class="mx-1"><%= mail_to contact.email, contact.cn, class: 'underline' %> </span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
