<div class="px-4 lg:px-64 leading-6 text-justify">
  <h1 class="title">Cos'è il PLS <br/><small>e come si articola in Unibo</small></h1>

  <div class="border-l-4 border-pls">
    <h3 class="my-4 bg-pls text-white p-2">Progetto Lauree Scientifiche</h3>
    <div class="pl-4">
      <p>Questo progetto è nato nel <strong>2004</strong> con l'obiettivo di combattere la crescente disaffezione dei giovani nei confronti delle discipline scientifiche.</p>

      <p>Fenomeno evidenziato dalla chiara e costante diminuzione delle iscrizioni a corsi di laurea di tipo scientifico; a dispetto del fatto che i laureati in discipline scientifiche risultassero essere tra i più richiesti dal mercato del lavoro.</p>

      <p>Lo sviluppo del nostro Paese richiede il rilancio della scienza, oltre al potenziamento degli investimenti in alta tecnologia, riconosciuta da tutti essere la chiave della competitività internazionale.</p>

      <p>Il progetto aveva lo scopo di individuare una serie di proposte per il rilancio degli studi scientifici attraverso provvedimenti strutturali mirati a:</p>

      <ul class="list-disc list-inside my-2">
        <li>stimolare l'interesse dei giovani allo studio di queste materie,</li>
        <li>fornire una più adeguata preparazione nelle materie scientifiche di base,</li>
        <li>potenziare l'interazione tra Università e impresa al fine di favorire l'inserimento dei nostri studenti nel mercato dell'alta tecnologia.</li>
      </ul>
    </div>
  </div>

  <div class="border-l-4 border-pls-light my-8">
    <h3 class="my-4 bg-pls-light p-2">Piano Lauree Scientifiche</h3>

    <div class="pl-4">
      <p>Dall'anno accademico <strong>2010/2011</strong>, per sottolineare la necessità di passare dalla sperimentazione ad una realizzazione di sistema, il Progetto Lauree Scientifiche <strong>è stato rinominato Piano Lauree Scientifiche</strong>. Per questo, oltre alle attività già proposte nelle precedenti edizioni, ve ne sono di nuove ispirate proprio a questo principio guida.</p>

      <p>La certificazione delle attività e delle competenze degli insegnanti potrà essere riconosciuta per l'attribuzione di funzioni di coordinamento e gestione di progetti, di gruppi di ricerca e di attività di formazione degli insegnanti.</p>
      <p>Inoltre potrà essere capitalizzata e utilizzata come credito formativo in corsi di perfezionamento o master universitari.</p>
    </div>
  </div>

  <div class="border-l-4 border-pls-strong my-8">
    <h3 class="my-4 bg-pls-strong text-white p-2">Come partecipare alle attività del PLS</h3>

    <div class="pl-4">
      <p>Le attività del PLS sono rivolte a <strong>docenti e studenti di scuola secondaria superiore</strong>.</p>

      <p>Le modalità di partecipazione variano leggermente per le diverse attività, ma, ad eccezione degli eventi di presentazione, l'iscrizione richiesta è obbligatoria.</p>
      <p>Le modalità di iscrizione sono riportate in dettaglio nelle pagine di ogni area.</p>
    </div>
  </div>
</div>
