<div class="container">
  <h1 class="title">Informazioni sul trattamento dei dati personali</h1>
  <h2 class="text-center mb-8">ai sensi dell'articolo 13 del Regolamento (UE) 2016/679</h2>

  <p>Ai sensi dell'art. 13 del Regolamento (UE) 2016/679 (Regolamento generale sulla protezione dei dati personali), La informiamo che l'Alma Mater Studiorum – Università di Bologna, in qualità di Titolare del trattamento, tratterà i Suoi dati personali nel rispetto di quanto previsto dal Regolamento (UE) 2016/679 (Regolamento generale sulla protezione dei dati personali) e dal D. Lgs. 30 giugno 2003, n. 196, s.m.i. (Codice in materia di protezione dei dati personali).</p>

  <h3>Soggetti del trattamento</h3>
  <dl>
    <dt>Titolare del trattamento</dt>
    <dd>Alma Mater Studiorum – Università di Bologna (sede legale: via Zamboni n. 33, 40126 - Bologna, Italia; e-mail: privacy@unibo.it; PEC: <a href="scriviunibo@pec.unibo.it">scriviunibo@pec.unibo.it</a>)</dd>
    <dt>Responsabile della protezione dei dati personali</dt>
    <dd>Responsabile per la Protezione dei Dati presso l'Alma Mater Studiorum – Università di Bologna (RPD/DPO) (sede legale: via Zamboni n. 33, 40126 - Bologna, Italia; e-mail: dpo@unibo.it; PEC: <a href="mailto:scriviunibo@pec.unibo.it">scriviunibo@pec.unibo.it</a>)</dd>
  </dl>

  <h3>Finalità e modalità del trattamento</h3>
  <p>
  Con il presente documento intendiamo fornirLe tutte le informazioni necessarie per prendere parte a eventi dell'Alma Mater Studiorum - Università di Bologna (di seguito: “Università”).<br>
  In particolare, i Suoi dati personali potranno essere trattati esclusivamente nell'ambito delle finalità di seguito riportate:
  </p>
  <ol>
    <li>
      <u>per garantire e gestire la Sua partecipazione all'evento di cui trattasi</u><br>
      I dati saranno trattati al fine di iscriverLa all'evento, contattarla per informazioni strettamente inerenti all’evento e, se del caso, per finalità di monitoraggio e verifica di attività formative, progettuali e/o di ricerca da parte dell'Ateneo. I dati saranno conservati esclusivamente per il tempo strettamente necessario alla realizzazione dell'evento, salvo il caso in cui la conservazione per un tempo maggiore risulti necessaria per un obbligo di legge o alla luce di tempi stabiliti, ad esempio, nei bandi di ricerca finanziata. I Suoi dati saranno trattati da soggetti specificatamente autorizzati anche con l'ausilio di strumenti informatici.
    </li>
    <li>
      <u>per iscriverla alla mailing list (newsletter)</u><br>
      I Suoi dati potranno essere trattati, sulla base del Suo consenso, al fine di condividere informazioni utili in merito alle tematiche affrontate nell'evento. A tal fine, i Suoi dati saranno inseriti in una mailing list, che Le consentirà di ricevere via posta elettronica, in modo automatico e gratuito, anche comunicazioni di successive iniziative di carattere istituzionale.<br>
      Qualora dovesse acconsentire al trattamento per le suddette finalità, i Suoi dati saranno conservati esclusivamente per il periodo in cui il servizio di newsletter sarà attivo.
    </li>
    <li>
      <u>per la realizzazione di video e materiale multimediale promozionale e divulgativo</u><br>
      I Suoi dati personali, in particolare la Sua immagine, potrebbero essere trattati per la realizzazione di video e materiale multimediale da utilizzare come strumento promozionale e divulgativo volto alla realizzazione delle finalità istituzionali perseguite tramite l'evento.<br>
      Le immagini, i video ed eventuali ulteriori materiali multimediali saranno conservati, anche in forma elettronica e su qualsiasi supporto tecnologico, per le finalità e nei limiti sopra definiti e potrebbero essere diffuse ai sensi della Legge n. 150/2000 sui siti istituzionali nonché attraverso canali social network (a titolo esemplificativo ma non esaustivo: Facebook, Twitter, Youtube). L'uso delle immagini non dà diritto ad alcun compenso. È in ogni caso esclusa qualunque utilizzazione di immagini che possa arrecare pregiudizio all'onore, alla reputazione o al decoro della persona ritratta, ripresa o registrata.<br>
      Le riprese audio/video saranno trattate e conservate per il tempo strettamente necessario alla realizzazione delle suddette finalità e, salvo periodo diverso indicato al momento del conferimento, non oltre cinque anni.
    </li>
  </ol>

  <h3>Categorie di destinatari dei dati personali</h3>
  <p>
  I dati saranno trattati dal personale e dai collaboratori dell'Università e, ove si renda necessario per delegare specifici compiti e funzioni, a soggetti terzi nominati Responsabili del trattamento, ai sensi dell'art. 28 del Regolamento (UE) 2016/679 (ad es. per esigenze di manutenzione tecnologica del sito, per la gestione di spazi web, per la realizzazione di foto o riprese, nonché per il montaggio di video), da aziende/fondazioni che presentino garanzie sufficienti per mettere in atto misure tecniche e organizzative adeguate affinché siano garantiti i Suoi diritti e le prescrizioni normative in materia.<br>
  Con il suo consenso, i dati per le finalità suddette potrebbero essere comunicati ad eventuali soggetti, pubblici e privati, che abbiano finanziato l'evento e/o l'attività nell'ambito della quale si è svolto l'evento e/o che collaborino alla realizzazione dell'evento, anche in forma anonima o aggregata.<br>
  Si precisa che, sempre per le finalità suddette, i dati oggetto del trattamento potrebbero essere trasferiti a un paese non appartenente all'Unione Europea o a un'organizzazione internazionale.<br>
  È importante che esprima il Suo consenso a tale trasferimento, tenuto conto che tale soggetto terzo potrebbe non garantire un adeguato livello di protezione dei dati e vi è la possibilità che i dati vengano trasmessi da quest'ultimo ad altri soggetti attualmente non noti e/o che non garantiscono alcuna garanzia rispetto all'uso dei dati dell'Interessato.
  </p>

  <h3>Base giuridica e natura del conferimento dei dati</h3>
  <p>
  La base giuridica del trattamento di cui al punto (I) è da rinvenirsi, ai sensi dell'art. 6, comma 1, lett. e), del Regolamento (UE) 2016/679, nei compiti di interesse pubblico di cui è investita l'Università, volti all'elaborazione, all'innovazione, al trasferimento e alla valorizzazione delle conoscenze.<br>
  Nel caso in cui Lei dovesse rifiutarsi a conferire i dati per le finalità e nelle modalità di cui al punto (I), l'Università non potrà garantire e gestire la Sua partecipazione all'evento.
  </p>
  <p>
  La base giuridica del trattamento di cui ai punti (II) e (III) è da rinvenirsi, ai sensi dell'art. 6, 1° comma, lett. a), del Regolamento (UE) 2016/679 nel Suo consenso, libero e facoltativo.<br>
  Il conferimento dei dati per le finalità di cui al punto (II) è facoltativo, cioè non discende da un obbligo normativo, ma è necessario affinché Lei possa essere ricontattato con riguardo ai successivi progetti/attività/eventi di carattere istituzionale.
  </p>
  <p>Si specifica, infine, che il consenso per la realizzazione di video e materiale multimediale di cui al punto (III) viene espresso attraverso l'atto volontario di recarsi o collocarsi in aree per le quali è segnalato che verranno effettuate riprese fotografiche o audio/video (ad esempio sale convegni, spazi specifici di un convegno, ecc.). Questi spazi saranno chiaramente identificati con apposita informativa iconica.</p>
  <p>Nel caso di comunicazione a terzi, a meno del caso in cui esista un obbligo normativo di comunicazione dei dati a terzi, la base giuridica è da rinvenirsi nel Suo consenso libero e facoltativo, ai sensi dell'art. 6, 1° comma, lett. a), del Regolamento (UE) 2016/679.</p>

  <h3>Diritti dell'interessato</h3>
  <p>Fatte salve le limitazioni all'esercizio dei diritti degli interessati di cui agli artt. 2-undecies e 2-duodecies del Codice in materia di protezione dei dati personali, Lei, in qualità di interessato, può esercitare i diritti a Lei riconosciuti ai sensi e nei limiti degli artt. 15-21 del Regolamento, tra cui il diritto di chiedere l'accesso ai Suoi dati personali, la rettifica o la cancellazione degli stessi, nonché la limitazione del trattamento dei dati che lo riguarda, l'opposizione al trattamento e la portabilità dei dati. Lei ha, inoltre, il diritto di revocare il consenso in qualsiasi momento, fermo restando la liceità del trattamento effettuato sulla base del consenso successivamente revocato.</p>
  <p>Le istanze relative all'esercizio di tali diritti potranno essere presentate all'Università contattando l'organizzatore dell'evento
  <a href="mailto:mirella.manaresi@unibo.it">mirella.manaresi@unibo.it</a>
  o il Responsabile della protezione dei dati personali.</p>
  <p>Infine, ove Lei ritenga che il trattamento dei Suoi dati personali avvenga in violazione di quanto previsto dal Regolamento (UE) 2016/679 o dal D.lgs. 196/03 s.m.i., ha il diritto di proporre reclamo al Garante, come previsto dall'art. 77 del Regolamento citato, o di adire le opportune sedi giudiziarie (art. 79 del Regolamento).</p>
</div>
