<div class="container">
  <h1 class="title">
    <%= @edition %>
  </h1>
  <div class="text-center">
    <%= link_to @edition, [:edit, @edition], class: "button" %>
  </div>

  <%= render 'form' %>
</div>
