<div class="container">
  <h1 class="title">
    Nuovo evento
  </h1>
  <div class="text-center">
    in <%= link_to @edition, [:edit, @edition], class: "text-xl underline" %>
  </div>

  <%= render 'form' %>
</div>
