<div class="container">
  <div class="text-center text-2xl mt-4">
    WORKSHOP ANNUALE
  </div>

  <h1 class="title">
    <%= @edition.name %> <br/>
  </h1>

  <h2 class="title">
    <%= @edition.academic_year_to_s %>
  </h2>

  <%= render partial: 'projects/attributes', locals: { project: @edition.project } %>  
</div>

<div class="container my-8">
  <%= render EditionComponent.new(edition: @edition, skip_title: true, with_image: true) %>
</div>

