<h1 class="title">Scegli il contatto</h1>
<div class="lg:w-1/2 mx-auto">
  <%= form_tag @url do %>  
    <% @contacts.each do |contact| %>  
      <input type="radio" name="contact_id" value="<%= contact.id %>">
      <%= contact %>  
      </input> <br/>
    <% end %>
    <%= submit_tag 'Aggiungi' %>  
  <% end %>
</div>
