.home-box {
  @apply flex flex-col justify-center items-center text-center my-2 py-8 shadow-2xl rounded-full text-lg md:text-xl;
  height: 15vh;
  width: 70%;
  max-width: 450px;
}

#home-box-areas { 
  animation: incomea 2s; 
  @keyframes incomea {
    0% {
      transform: translate(-300px, 300px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}
#home-box-projects { 
  animation: incomep 2s; 
  @keyframes incomep {
    0% {
      transform: translate(-400px, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}
#home-box-students { 
  animation: incomes 2s; 
  @keyframes incomes {
    0% {
      transform: translate(-500px, -500px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}

