#page-header {
  @apply w-full;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-shape-divider-top-1632301257 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1632301257 svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 80px;
}

.custom-shape-divider-top-1632301257 .shape-fill {
    fill: #F0F0F0;
}
