<div class="text-right">
  <%= possible_label_from_array 'Organizzato da', project.areas, add_class: 'border px-2 py-1 rounded-xl border-pls' %>  
</div>
<div class="text-right">
  <%= possible_label_from_array 'Contatti', project.contacts, add_class: 'border px-2 py-1 rounded-xl border-pls' %>  
</div>
<div class="text-right">
  <%= possible_label_from_array 'Aree di interesse', project.interested_areas, add_class: 'border px-2 py-1 rounded-xl border-pls' %>  
</div>

