<div class="text-right">
  <%= possible_label_from_array 'Organizzato da', project.areas, add_class: 'badge' %>  
</div>
<div class="text-right">
  <%= possible_label_from_array 'Contatti', project.contacts, add_class: 'badge' %>  
</div>
<div class="text-right">
  <%= possible_label_from_array 'Aree di interesse', project.interested_areas, add_class: 'badge' %>  
</div>


