<div class="container">
  <% if @on %>  
    <h1 class="title">Le attività dell'anno corrente</h1>
  <% elsif @area %>  
    <h1 class="title">Le attività di <br/><%= @area %></h1>
  <% else %>
    <h1 class="title">Le attività del PLS</h1>
  <% end %>

  <div class="text-center my-4">
    <%= link_to('Nuova Attività', new_project_path, class: 'button') if policy(:project).new? %>  
  </div>

  <% if (@area || @on) %>  
    <div class="text-right text-xl">
      <%= link_to 'Mostra tutte le attività del PLS', projects_path, class: 'underline' %>  
    </div>
  <% end %>

  <%= render Project::ListComponent.new(@projects, no_filter: (@area || @on)) %>
</div>
