<%= link_to project do %>  
  <div class="border-r-4 border-blue-400 p-1 px-8 mx-8 my-2 hover:bg-blue-100">
    <%= project.name %><br/> 
    <span class="text-sm">(<%= project.activity_type %> - <%= project.audience %>)</span>
  </div>
<% end %>

