<div class="title"><%= @area %></div>

<div class="lg:flex">
  <div class="lg:w-1/2">
    <%= area_image(@area, size: 800) %>  
  </div>
  <div class="lg:w-1/2 text-gray-900 font-light text-sm">
    <%= @area.description %>
  </div>
</div>
