<% if @free_seats > 0 %>  
  <div class="inline bg-pls-light p-2 px-4 rounded-2xl">
    <%= @free_seats %> posti disponibili in presenza.
  </div>
<% else %>
  <div class="font-bold">
    Non sono disponibili posti in presenza.
  </div>
<% end %>

