<div class="my-4">
  <%= link_to "Documenti", document_resources_path, class: "button inline" %>
  <%= link_to "Immagini", image_resources_path, class: "button inline" %>
  <%= link_to "Video", video_resources_path, class: "button inline-block" %>
  <%= link_to "Link", url_resources_path, class: "button" %>
</div>

