<h1 class="title">
  <%= @resource %><br/>
</h1>

<%= render 'form', resource: @resource %>

<h2>A cosa è attaccata?</h2>

<% @resource.activities.each do |activity| %>  
  <%= link_to activity.name, activity %>  
<% end %>
