<h1 class="title">Risorse</h1>

<div class="px-4 lg:max-w-6xl flex flex-wrap m-auto">
  <% @resources.each do |resource| %>  
    <div class="lg:w-1/3 items-center">
      <%= link_to resource do %> 
        <%= render resource  %>  
      <% end %>
    </div>
  <% end %>
</div>
