<div class="lg:w-1/2 m-auto">
  <div class="pls-card">
    <label class="pls-card-title">
      Nuova risorsa
    </label>
    <div class="pls-card-content">
      <%= render 'form', resource: @resource %>
    </div>
  </div>
</div>
