@import 'trix';

/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
*/
.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

.trix-button {
  @apply border-2 border-pls-strong px-1;
}

trix-toolbar {
  @apply mt-8;
}

trix-editor > div {
  @apply mt-2;
  font-size: 16px;
}

.trix-content {
  @apply my-8;
  h1 {
    @apply block leading-none font-bold text-pls tracking-tight mt-6;
  }
  a {
    text-decoration: underline;
  }
}

.trix-button-group--file-tools {
  display: none !important;
}
.details-trix-editor {
  @apply border-2 border-gray-400 bg-gray-50 p-2 lg:p-4 my-4 rounded-xl;
  label {
    font-weight: bold;
  }
}
