.trix-content {
  a {
   text-decoration: underline;
 }
 ul {
   list-style-type: circle;
 }
}

dl {
  margin: 4px;
  dt {
    font-weight: bold;
  }
  dd {
    margin-left: 8px;
  }
}

ol {
  list-style-type: upper-roman;
}
