#home-first {
  @apply flex flex-col md:flex-row justify-center items-center min-h-screen;
  @apply md:-mt-8;
}
#home-first-left {
  @apply mt-0 md:w-1/2 text-center md:text-right ; 
  @apply md:pr-8;
  h1 {
    @apply text-pls font-medium text-4xl sm:text-5xl xl:text-6xl 2xl:text-8xl tracking-tight;
  }
}
#home-first-right {
  @apply md:w-1/2 text-center;
  @apply md:pl-8;
}

.home-box {
  @apply flex flex-col justify-center items-center rounded-full;
  @apply px-8 py-16 shadow-2xl;
  @apply text-lg lg:text-xl;
  height: 200px;
  width: 200px;
}
#home-box-first {
  margin-top: -25px; 
  margin-left: 100px;
}
#home-box-second {
  margin-top:  -75px; 
  margin-left: 0;
}
#home-box-third {
  margin-top:  -75px; 
  margin-left: 100px;
}
.home-box-number {
  @apply text-4xl px-2;
}

#home-box-areas { 
  animation: incomea 2s; 
  @keyframes incomea {
    0% {
      transform: translate(-300px, 300px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}
#home-box-projects { 
  animation: incomep 2s; 
  @keyframes incomep {
    0% {
      transform: translate(-400px, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}
#home-box-students { 
  animation: incomes 2s; 
  @keyframes incomes {
    0% {
      transform: translate(-500px, -500px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}
