#home-buttons {
  @apply md:flex items-center justify-center text-center;
}
.home-button-container {
  @apply md:w-1/3 p-4 md:h-full;
  height: 15em;
}

.big-home-button {
  position: relative;
  @apply md:h-full;
  @apply p-8 py-12 md:py-16 m-2 my-4;
  @apply flex flex-col items-center justify-center; 
  @apply hover:bg-gray-200 text-pls-strong;
  @apply border-2 border-pls-strong rounded-2xl hover:shadow-2xl;
  @apply text-2xl font-bold;
  @apply hover:shadow-2xl; 
}
.big-home-button-icon {
  position: absolute;
  top: -20px;
  right: -20px;
  padding: 15px;
  @apply text-xl text-pls;
  @apply bg-gray-50 text-pls-strong border-2 border-pls;
  @apply rounded-2xl;
}

#home_logo {
  position: absolute; 
  left: 0px; 
  top: 60px; 
  z-index: -1000; 
  opacity: 0.25;
  width: 100vw;
}

@media screen and (min-width: 1000px) {
  #home_logo {
    width: 60vw;
    left: 60px;
  }
}

