.header{
  @apply py-4;

  .navbar {
    @apply top-0 w-full flex flex-row items-center justify-center;
    #modal-opener {
      width: 33%;
      text-align: left;
      display: block;
      cursor: pointer;
      @apply px-4;
    }
    .header-title {
      width: 33%;
      @apply grow text-center px-2;
      @apply text-xl lg:text-2xl;
      @apply text-blue-900 font-bold tracking-widest;
    }
    .header-user {
      width: 33%;
      @apply shrink px-4 text-xs lg:text-base text-right;
    }
  }
}

#modal-opener.active .bar:nth-child(2) {
  opacity: 0;
}

#modal-opener.active .bar:nth-child(1) {
  transform: translateY(14px) rotate(45deg);
}

#modal-opener.active .bar:nth-child(3) {
  transform: translateY(-14px) rotate(-45deg);
}

.bar {
  @apply block ml-8 bg-blue-900;
  width: 32px;
  height: 6px;
  margin: 8px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#modal-menu {
  z-index: 10;
  position: absolute;
  left: -100%;
  flex-direction: column;
  text-align: center;
  transition: all 0.6s ease-in-out;
  width: 100%;
}

#modal-menu.active {
  left: 0;
}

.menu-items {
  a.menu-items-item {
    @apply block uppercase text-pls border-b border-pls p-1 md:p-2 px-4 font-bold hover:bg-pls hover:text-white;
  }
}
