<% if @activity.campus_id %>  
  <div class="font-bold">
    Sede: <%= @activity.campus %>  
  </div>
<% end %>

<%= render Area::InlineOrganizationsComponent.new(@activity.areas) %>  
<%= render Area::InlineOrganizationsComponent.new(@activity.interested_areas, title: 'Altre aree di interesse') %>  
<%= render Contact::InlineContactsComponent.new(@activity.contacts) %>  

