<div>
  <% if @activity.sofia %>  
    <i class="far fa-star fa-fw mr-2"></i> 
    <%= helpers.sofia_link(@activity) %>
  <% end %>
  <% if @activity.pcto %>  
    <i class="far fa-star fa-fw mr-2"></i>
    PCTO
  <% end %>
</div>
