<div>
  <div class="font-bold block">
    <%= @label %>
  </div>

  <% @contacts.each do |contact| %>  
    <%= link_to contact.to_s, contact_path(contact, modal: 1), data: {turbo_frame: :modal}, class: 'badge inline-block cursor-pointer my-2' %>  
  <% end %>
</div>
