<div class="py-8 bg-gray-100 text-gray-700 mt-8 border-t border-pls">
  <div class="container">
    <div><%= link_to image_pack_tag('media/images/unibo.gif'), 'https://www.unibo.it' %></div>
    <div class="mt-2 text-sm">
      ©Copyright 2021 - ALMA MATER STUDIORUM - Università di Bologna - Via Zamboni, 33 - 40126 Bologna - Partita IVA: 01131710376 
    </div>
  </div>
</div>
