<div class="py-16 bg-gray-100 text-gray-700">
  <div class="p-2 lg:max-w-6xl m-auto">
    <div><%= image_pack_tag('static/unibo.gif') %></div>
    <div class="">©Copyright 2021 - ALMA MATER STUDIORUM - Università di Bologna - Via Zamboni, 33 - 40126 Bologna - Partita IVA: 01131710376 </div>
  </div>
</div>
  
