<div class="w-full flex text-center border-b-2 border-indigo-500">
  <div class="inline-block text-2xl font-light mx-4 my-2 px-4 py-2 text-white font-bold tracking-widest rounded-2xl bg-blue-300">
    <%= link_to 'PLS', root_path %>
  </div>
  <div class="text-center w-full my-6">
  <%= link_to 'home', root_path, class: 'border-2 rounded-xl px-4 py-1'%>  
  <%= link_to 'attività', activities_path, class: 'border-2 rounded-xl px-4 py-1' %>  
  </div>
</div>
