<div class="w-full flex text-center border-b-2 border-indigo-500 py-4">
  <div class="inline-block text-2xl font-light mx-6"><%= link_to 'PLS', root_path %></div>
  <div class="text-center w-full">
  <%= link_to 'home', root_path, class: 'border-2 rounded-xl px-4'%>  
  <%= link_to 'attività', activities_path, class: 'border-2 rounded-xl px-4' %>  
  </div>
</div>
