<div class="bg-white md:w-1/2 h-128 border-4 border-pls" id="main-modal" style="position: fixed; top: 50%; left: 25%; z-index: 200; display: none">
  <div class="absolute -top-4 -right-4 p-2 border-4 border-pls rounded-xl text-weight-bold text-2xl cursor-pointer bg-white">
    <i class="fas fa-times"></i>
  </div>
  <div class="m-4">
    <div id="main-modal-body">
    </div>
  </div>
</div>
