<div class="bg-white md:w-1/2 h-128 border-4 border-pls" id="main-modal" style="position: fixed; top: 50%; left: 25%; z-index: 200; display: none">
  <div class="m-4">
    <div id="main-modal-header">
    </div>
    <div id="main-modal-body">
      Ciao
    </div>
  </div>
</div>
