<div class="mt-4 text-sm">SEGUICI SU</div>
<div class="text-4xl my-2 text-pls-strong">
  <%= link_to youtube_icon, 'https://www.youtube.com/channel/UCytVxm3DBN9wwveNyG_zIeA', title: 'You Tube Channel' %>
  <%= link_to facebook_icon, 'https://www.facebook.com/pls.unibo', title: 'Facebook' %>
</div>

